body {
  background-color: #2D2D2D;
}




.container {
  width: 100%;
  height: 80%;
}

.modal {
  top: 100px;
  overflow: visible !important;
}

.modal-title{
  margin-top: 40px;
}

.button-holder {
width: 100%;
display: flex;
margin-top: 250px;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
#mod-button {
  background-color: #7289DA;
  border-color: #7289DA;
}

#live-button {
  background-color: #7289DA;
  border-color: #7289DA;

}
.modal-header {
  position: relative;
  display: flex;
  text-align: center;
  border-bottom: 0px;

}

#bunnies {
  position: absolute;
  top: -100px;
  left: 0;
  height: 150px;
  width: 100%;
}

.title-hold {
 width: 100%;
}

#warframe-pic {
  height: 25px;
  width: 25px;
  margin: 5px;
}

.lilPeeps {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  position: absolute;
}

.speak{
  display: flex;
  align-items: center;
  width: 60%;
  margin: 0px 0px 0px 0px;
  height: 36px;
}

.peep-holder {
  width: 30%;
  height: 36px;
}

#pic1{
margin-top: 5px;
margin-left: 80px;
}

#pic2{
  margin-top: 5px;
  margin-left: 102px;
}

#pic3{
  margin-top: 5px;
  margin-left: 124px;
}

#pic4{
  margin-top: 5px;
  margin-left: 146px;
}

.modal-body {
  padding: 0px;
}

.body-title {
color: #2D2D2D;
padding-left: 16px;
padding-right: 16px;
width: 80%;
}

.body-title-dark {
color: white;
padding-left: 16px;
padding-right: 16px;
width: 80%;
}

.game-title {
background-color: #f7f7f7;
height: 45px;
margin-top: 15px;
margin-bottom: 15px;
padding-left: 16px;
padding-right: 16px;
}

.channel-title {
  display: flex;
background-color: #f7f7f7;
height: 45px;
margin-top: 15px;
margin-bottom: 15px;
padding-left: 24px;
padding-right: 16px;
}

.indent {
  text-indent: 10px;
  margin-bottom: 0px;
}

.modal-footer {
  background-color: #f7f7f7;
}

.darkModeModal {
  top: 100px;
  overflow: visible !important;
  background-color: #2D2D2D !important;
  color: white;
}

.modal-backdrop.darkModeModal {
  overflow: visible !important;
  background-color: #4a4a4a !important;
  color: white;
}

.darkModeModalContent {
  overflow: visible !important;
  background-color: #2D2D2D !important;
  color: white;
  border: 1px !important;
  border-color: #4a4a4a !important;
}
.darkModeModalSecond {
  background-color: #4a4a4a;
  height: 45px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
}

.darkModeModalFoot {
  background-color: #4a4a4a;
  border: 0;
}
